.root{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    div:first-child{
        margin:1rem 0;
        button{
            font-weight: bold;
        }
    }
    button{
        color:rebeccapurple;
        background-color: aliceblue;
        border:rebeccapurple 1px solid;
        text-transform:capitalize;
        font-size: 1rem;
        margin: .5rem;
        padding:.5rem;
        cursor: pointer;
        width:12rem;
    }

}