.root{
    padding:1rem;
    span{
        color: aliceblue;
    }
    div:first-child{
        background-color: rebeccapurple;
        border:1px solid rebeccapurple;
        border-radius: 100%;
        width: 200px;
        height:200px;
        position: relative;
        span{
            position: absolute;
            text-align: center;
        }
        span:first-child{
            top:50px;
            font-weight: bold;
            font-size: 3rem;
            width: 100%;
        }
        span:last-child{
            bottom:50px;
            width:100%;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }
    div{
        display: flex;
        flex-direction: row;
        margin:0 auto;
        justify-content: center;
    }
    label{
        margin:1rem;
        font-size: 1.5rem;
        span{
            color: rebeccapurple;
            font-weight: bold;
        }
    }
}